.vagrant
.project
.pydevproject
.vagrant-lock.lock
.vagrant-lock
*~
*.box
/tests/output*
/tests/integration/Vagrantfile
/tests/integration/vagrant-hosts.yml
/tests/integration/vagrant-groups.yml
/tests/integration_playbook/Vagrantfile
/tests/integration_playbook/vagrant-hosts.yml
/tests/integration_playbook/vagrant-groups.yml
__pycache__