.vagrant
.project
.pydevproject
.vagrant-lock.lock
.vagrant-lock
*~
*.box
/tests/output*
/tests/integration/Vagrantfile
/tests/integration/vagrant-hosts.yml
/tests/integration/vagrant-groups.yml
/tests/integration/targets/add_host/in_playbook/Vagrantfile
/tests/integration/targets/add_host/in_playbook/vagrant-hosts.yml
/tests/integration/targets/add_host/in_playbook/vagrant-groups.yml
/tests/integration/integration_config.yml
__pycache__